/*-----footer-----*/
.footer {
  padding: 28px 0;
  background: var(--darkGreen-color);
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    &:not(:last-child) {
      margin-right: 28px;
    }
    &:hover {
      transform: scale(1.05);
    }
  }
}

@include mobile {
  /*-----footer-----*/
  .footer {
    padding: 20px 0;
  }
  .socials {
    a {
      &:not(:last-child) {
        margin-right: 18px;
      }
      img {
        width: 28px;
      }
    }
  }
}