/*-----title----*/
.section-title {
	font-size: 1.5rem;
	letter-spacing: 0.01em;
}

.page-title {
	font-size: 1.75rem;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	width: 37.5rem;
	max-width: 100%;
}
