/*----about-----*/
.about {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
  &__item {
    .section-link {
      margin-top: 12px;
      width: 100%;
      justify-content: flex-end;
    }
  }
}

@include desktop {
  /*----about-----*/
  .about {
    &__list {
      gap: 32px;
    }
    &__item {
      .section-link {
        margin-top: 0;
      }
    }
  }
}

@include tablet {
  /*----about-----*/
  .about {
    &__list {
      grid-template-columns: repeat(1, 1fr);
      gap: 24px;
    }
  }
}