/*----team-----*/
.team {
  padding: 40px 0;
  background: var(--vanilla-color);
  &__container {
    display: grid;
    grid-template-columns: 3.3fr 1fr;
    gap: 40px;
    margin-bottom: 24px;
  }
  &__content {
    .section-title {
      margin-bottom: 8px;
    }
    p {
      margin-top: 8px;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
  &__item {
    img {
      width: 100%;
      aspect-ratio: 29 / 20;
      object-fit: cover;
    }
    &-content {
      position: relative;
      padding: 24px 16px;
      text-align: center;
      color: var(--vanilla-color);
      background: var(--darkGreen-color);
      &::before {
        content: '';
        position: absolute;
        top: 8px;left: 8px;
        width: calc(100% - 16px);
        height: calc(100% - 16px);
        border: 1px solid var(--brown-color);
      }
      h4 {
        position: relative;
        padding-bottom: 8px;
        margin-top: 0;
        margin-bottom: 8px;
        width: 100%;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.4;
        text-transform: uppercase;
        color: var(--vanilla-color);
        &::before {
          content: '';
          position: absolute;
          left: 0; bottom: 0;
          width: 100%;
          height: 1px;
          background: var(--brown-color);
        }
      }
      p {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.2;
        color: var(--peach-color);
      }
    }
  }
}

@include desktop {
  /*----team-----*/
  .team {
    &__container {
      gap: 28px;
    }
    &__list {
      gap: 28px;
    }
  }
}

@include tablet {
  /*----team-----*/
  .team {
    &__container {
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      margin-bottom: 20px;
    }
    &__list {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    &__item {
      &-content {
        padding: 20px 16px;
        h4 {
          font-size: 15px;
        }
        p {
          font-size: 15px;
        }
      }
    }
  }
}

@include mobile {
  /*----team-----*/
  .team {
    &__container {
      grid-template-columns: repeat(1, 1fr);
    }
    &__list {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}