/***** FONTS *****/
@import "fonts";

/***** GENERAL ELEMENTS *****/
:root {
  --white-color: #ffffff;

  --lightGreen-color: #02362A;
  --darkGreen-color: #051D17;

  --peach-color: #D69772;
  --broun-color: #BF894C;

  --vanilla-color: #F0DCC0;

  --brown-color: #BF894C;

  --lightBlue-color: #C4D7EB;
}


/***** BLOCKS GLOBAL *****/
@import "general";
@import "blocks/buttons";
@import "blocks/title";


/***** COMPONENTS GLOBAL *****/
@import "blocks/header";
@import "blocks/footer";

/***** SECTIONS GLOBAL (Widgets) *****/
@import "widgets/hero";
@import "widgets/about.scss";
@import "widgets/clients.scss";
@import "widgets/restaurants.scss";
@import "widgets/diets.scss";